/* all */


/* container */
/* row-1 top */
.top {
    padding-left: 20px;
}

/* row-2 chart */
#chart {
    /* border: 1px solid #e0245e; */
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 25px;
    /* max-width: 1100px; */
    /* min-height: 400px; */
}

/* row-3 profile(col-md-4) & list(col-md-8) */
/* profile-container */
.profile-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* padding-right: 15px; */
    /* background-color: #fff; */
    background-color: #e6ecf0;
    /* border: 1px solid #e0245e; */
}

#user-info {
    display: flex;
    display: -webkit-flex;
    /* 縦方向中央揃え（Safari用） */
    -webkit-align-items: center;
    /* 縦方向中央揃え */
    align-items: center;
    padding-left: 10px;
}

#user_img {
    border-radius: 50px;
    display: inline;
    padding: 5px 5px;
}

#name-id {
    display: inline-block;
    padding: 5px 5px;
}

#name {
    font-weight: bold;
    font-size: 18px;
}

#id {
    font-size: 15px;
    color: #98a0a5;
}

#ff-summary {
    padding: 5px 0;
}

.ff {
    display: inline-block;
    text-align: center;
    width: 48%;
}

.ff-text {
    color: #657786;
    font-size: 15px;
    font-weight: bold;
}

.ff-num {
    color: #428bca;
    /* Twitter-HP #1da1f2; */
    font-size: 18px;
    font-weight: bold;
}

#description {
    padding: 2.5px 10px 2.5px 2.5px;
}


/* summary */
.summary {
    padding-top: 10px;
}

/* list */
.list {
    /* border: 1px solid #e0245e; */
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 20px;
}

/* list: tweets-list */
.list-title {
    color: #657786;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
}

.tweets-list {
    height: 700px;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
}

.white-container {
    border-bottom: 2px solid #e6ecf0;
    background-color: #fff;
    line-height: 1.2;
    padding: 20px 20px;
}

#tweet-text {
    /* border: 1px solid #e0245e; */
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
}

#date {
    color: #657786;
}

.icons {
    padding-top: 10px;
}

.icon {
    display: inline-block;
    padding-right: 5px;
}

.fav {
    font-weight: bold;
    display: inline-block;
    color: #e0245e;
    padding-right: 7.5px;
}

.rt {
    font-weight: bold;
    display: inline-block;
    color: #17bf63;
}

/* row-4 footer */
.footer {
    background-color: rgba(66, 139, 202, 0.65);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 70px;
    text-align: center;
}

#footer-text {
    display: inline-block;
    line-height: 70px;
    padding-left: 15px;
}

.footer-icon {
    display: inline-block;
    font-size: 10px;
    padding: 22.5px 0;
}

.twitter {
    padding-left: 8px;
    padding-right: 5px;
}

.github {}